body {
  color: #333;
  font: 16px/1.25 Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.bg-light {
    background-color: #fefff6!important;
}
.chat-window {
  display: flex;
  flex-direction: column;
}

.chat-log {
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
}

.chat-log div {
  margin-bottom: 8px;
}

.chat-input {
  height: 70px;
  min-height: 70px;
  outline: 1px solid #666;
  overflow: auto;
  padding: 4px;  
  bottom:10px;
  margin-top:auto;
}

.msg-user {
  color: #999;
}

.msg-sys {
  color: #F00;
}
